.DS_Store

# Directories
auth
certs
overrides
opa
demos
log/*
deploy-from-private-registry

# Config
config.json
services

# Cloud One
cloud-one/api_key
cloud-one/c1_url

# GCP
rapid-gke-down.sh
service-gcrsvc_keyfile.json

# Azure
rapid-aks-down.sh

# AWS
rapid-eks-down.sh
aws-iam-authenticator

# Migrate
migrate/migrated/*.yaml
migrate/source/*.json
migrate/kustomization.yaml

# Falco
audit/audit-webhook.yaml
falco/additional_rules_tm.yaml
additional_rules.sh
