.DS_Store

# Directories
auth
certs
overrides
opa
log/*

# Config
config.json
config.json.old
config.yaml
config.yaml.c9
services*
env.sh
venv

# Cloud One
cloud-one/api_key
cloud-one/c1_url

# GCP
bin/rapid-gke-down.sh
service-gcrsvc_keyfile.json

# Azure
bin/rapid-aks-down.sh

# AWS
aws-iam-authenticator
bin/rapid-eks-down.sh
bin/rapid-eks-down-bottle.sh
bin/rapid-eks-down-fargate.sh
bin/pipeline-aws-down.sh

# Migrate
migrate/migrated/*.yaml
migrate/source/*.json
migrate/kustomization.yaml

# Falco
audit/audit-webhook.yaml
falco/additional_rules_tm.yaml
additional_rules.sh
demos/nginx.yaml
.dccache
get_helm.sh
master-sc.tar.gz
nginx.yaml
README.pdf
test.sh
master-cs.tar.gz
*-scan.json
*-sbom.json

# Archive
archive

# Pipeline
aws
c1-app-sec-uploader
bin/.teardown.sh
site
docs-20221124

# Terraform
.terraform*
terraform.tfstate*
*-key-pair*
public-ip

# Sentry
sentry-*/
response.json

# Training
training

# Exploiting
demos/demo-attack.sh
demos/struts-exploit-headers.txt
kubernetes-goat
terraform-awsone/scripts/dsa.sh
bin/kubeclarity-cli
atomic_launcher_windows_1.0.0.1013.zip
atomic_launcher_linux_1.0.0.1009.zip

# Terraform
TMServerAgent_Windows_auto_64_Server_-_Workload_Protection_Manager.zip
TMServerAgent_Linux_auto_64_Server_-_Workload_Protection_Manager.tar
terraform.tfvars
.pluralith
8-cluster-eks-deployments-repo
9-cluster-ecs-services
9-cluster-ecs-services-repo
