{
    "cluster_name": "playground",
    "host_registry_name": "playground-host-registry",
    "host_registry_port": "5000",
    "registry_namespace": "registry",
    "registry_name": "playground-registry",
    "registry_size": "10Gi",
    "registry_port": "5000",
    "registry_username": "admin",
    "registry_password": "trendmicro",
    "smartcheck_namespace": "smartcheck",
    "smartcheck_username": "admin",
    "smartcheck_password": "trendmicro",
    "smartcheck_reg_username": "admin",
    "smartcheck_reg_password": "trendmicro",
    "proxy_service_name": "smartcheck",
    "proxy_service_namespace": "smartcheck",
    "proxy_service_port": "443",
    "proxy_listen_port": "8443",
    "container_security_policy_name": "relaxed_playground",
    "container_security_policy_mode": "block",
    "container_security_namespace": "container-security",
    "api_key": "YOUR KEY HERE",
    "activation_key": "YOUR KEY HERE"
}