{
    "cluster_name": "playground",
    "services": [
        {
            "name": "playground-registry",
            "namespace": "registry",
            "size": "10Gi",
            "port": "5000",
            "username": "admin",
            "password": "trendmicro",
            "hostname": "playground-registry"
        },
        {
            "name": "playground-host-registry",
            "port": "5001"
        },
        {
            "name": "grafana",
            "namespace": "prometheus",
            "username": "admin",
            "password": "trendmicro",
            "hostname": "grafana",
            "proxy_service_name": "prometheus-grafana",
            "proxy_service_port": "80",
            "proxy_listen_port": "8080"
        },
        {
            "name": "prometheus",
            "namespace": "prometheus",
            "username": "admin",
            "password": "trendmicro",
            "hostname": "prometheus",
            "proxy_service_name": "prometheus-kube-prometheus-prometheus",
            "proxy_service_port": "9090",
            "proxy_listen_port": "8081"
        },
        {
            "name": "falco",
            "namespace": "falco",
            "hostname": "falco",
            "proxy_service_name": "falco-falcosidekick-ui",
            "proxy_service_port": "2802",
            "proxy_listen_port": "8082"
        },
        {
            "name": "smartcheck",
            "namespace": "smartcheck",
            "username": "admin",
            "password": "trendmicro",
            "hostname": "smartcheck",
            "reg_username": "admin",
            "reg_password": "trendmicro",
            "reg_hostname": "smartcheck-registry",
            "proxy_service_name": "proxy",
            "proxy_service_port": "443",
            "proxy_listen_port": "8443"
        },
        {
            "name": "container_security",
            "policy_name": "relaxed_playground",
            "policy_mode": "block",
            "namespace": "container-security"
        },
        {
            "name": "trivy",
            "namespace": "trivy"
        },
        {
            "name": "starboard",
            "namespace": "starboard"
        },
        {
            "name": "opa",
            "namespace": "opa"
        },
        {
            "name": "kube-system",
            "namespace": "kube-system"
        },
        {
            "name": "cadvisor",
            "namespace": "cadvisor"
        },
        {
            "name": "cloudone",
            "api_key": "YOUR KEY HERE",
            "activation_key": "YOUR KEY HERE"
        }
    ]
}
